<template>
    <section>
        <Head title="Edit Cabin information" />
        <section class="my-16 max-w-[800px] mx-auto">
			
            <CabinForm :cabin_id="cabin_id"
                       @component_ready="show_btn = true"/>
			
            <section class="form_block"
                     v-if="show_btn">
                <button @click="submitForm"
                        class="bg-gray-800 form_btn">Update</button>
                <button @click="createNewCabin"
                        class="bg-green-800 form_btn">New Cabin</button>
                <button @click="deleteCabin"
                        class="bg-red-500 form_btn">Delete Cabin</button>
            </section>
        </section>
    </section>
</template>
<script setup>
import {Head, router,} from '@inertiajs/vue3';

import CabinForm from '@/Pages/Cabin/CabinForm.vue';
import {ref} from 'vue';
const props = defineProps(['cabin_id']);

let show_btn = ref(false);

function submitForm() {
    Event.emit('cabin_submit');
}
function createNewCabin() {
    router.get(route('cabin.create'));
}

function deleteCabin() {
    console.log('props.cabin_id', props.cabin_id);
    axios.post(route('cabin.delete'), {id: props.cabin_id}).then(() => router.get('/ships'));
}
</script>