<template>
    <section v-if="component_ready"
             class="px-2">
        <section class="flex items-center justify-between">
            <h1 class="text-[36px] font-bold opacity-80 ">{{ form.title }}</h1>
            <span @click="goBack"
                  class="text-sm text-blue-400 hover:opacity-100 opacity-80 duration-75 cursor-pointer">Back</span>
        </section>
		
        <section class="">
            <div class="mb-4">
                <InputLabel for="title"
                            value="title" />
                <TextInput id="title"
                           type="text"
                           class="mt-1 block w-full shadow"
                           v-model="form.title"
                           autocomplete="title" />
                <InputError :message="form.errors.title"
                            class="mt-2" />
            </div>
            <div class="mb-4">
                <InputLabel for="description"
                            value="description" />
                <TextArea id="description"
                          :rows="12"
                          class="mt-1 block w-full border-gray-300 dark:border-gray-700 dark:bg-gray-900 dark:text-gray-300 focus:border-indigo-500 dark:focus:border-indigo-600 focus:ring-indigo-500 dark:focus:ring-indigo-600 rounded-md shadow-sm"
                          v-model="form.description"
                          autocomplete="description" />
                <InputError :message="form.errors.description"
                            class="mt-2" />
            </div>

            <div class="mb-4">
                <InputLabel for="vendor_code"
                            value="vendor_code" />
                <TextInput id="vendor_code"
                           type="text"
                           class="mt-1 block w-full shadow"
                           v-model="form.vendor_code"
                           autocomplete="vendor_code" />
                <InputError :message="form.errors.vendor_code"
                            class="mt-2" />
            </div>
	        
            <div class="mb-4">
                <InputLabel for="type"
                            value="type" />
                <select v-model="form.type"
                        class="mt-1 block w-full shadow-element form_element">>
                    <option v-for="type in types"
                            :value="type"
                            :key="type">{{type}}</option>
                </select>
            </div>
	        
            <div class="mb-4">
                <InputLabel for="ship_id"
                            value="ship_id" />
                <select v-model="form.ship_id"
                        class="mt-1 block w-full shadow-element form_element">
                    <option v-for="ship in ships"
                            :value="ship.id"
                            :key="ship.id">{{ship.title}}</option>
                </select>
            </div>
        </section>
    </section>
</template>
<script setup>
import {router, useForm} from '@inertiajs/vue3';
import InputLabel from '@/Components/InputLabel.vue';
import InputError from '@/Components/InputError.vue';
import TextArea from '@/Components/TextArea.vue';
import TextInput from '@/Components/TextInput.vue';
import {onMounted, ref} from 'vue';
import axios from 'axios';

const props = defineProps(['cabin_id']);
let ships = ref ([]);
function goBack() {
    window.history.back();
}
const form = useForm({
    _method: 'POST',
    id: null,
    title: 'Create new',
    description: '',
    type: '',
    vendor_code: '',
    ship_id: '',
});
const types = ['Inside','Ocean view','Balcony','Suite'];
let component_ready = ref(false);
onMounted(() => {
    if (! props.cabin_id) {
        axios.get(route('ships_list')).then(response => ships.value = response.data);
        componentReady();
    } else {
        axios.post(route('cabin_details'), {id: props.cabin_id}).then(response => {
            form.id = response.data.cabin.id;
            form.title = response.data.cabin.title;
            form.description = response.data.cabin.description;
            form.type = response.data.cabin.type;
            form.vendor_code = response.data.cabin.vendor_code;
            form.ship_id = response.data.cabin.ship_id;
			
            ships.value = response.data.ships;
            componentReady();
        });
    }
    Event.on('cabin_submit', () => submitForm());
});
function submitForm() {
    form.post(route('cabin.upsert'), {
        errorBag: 'proceedForm',
        preserveScroll: true,
        onSuccess: () => {
            router.reload({only: ['ship']});
        }
    });
}

const emit = defineEmits(['component_ready']);
function componentReady() {
    component_ready.value = true;
    emit('component_ready');
}
</script>