@tailwind base;
@tailwind components;
.form_element {
    @apply border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm
}
.form_btn {
    @apply rounded px-2 py-1  text-center font-bold text-white my-2 block w-full shadow
}
.form_block {
    @apply sm:flex block items-center sm:space-x-8 space-x-0 my-6 px-2
}
@tailwind utilities;

[x-cloak] {
    display: none;
}
