<template>
    <section v-if="component_ready"
             class="px-2">
        <section class="flex items-center justify-between">
            <h1 class="text-[36px] font-bold opacity-80 ">{{ form.title }}</h1>
            <Link href="/ships"
                  class="text-sm text-blue-400 hover:opacity-100 opacity-80 duration-75">Back</Link>
        </section>
		
        <section class="">
            <div class="mb-4">
                <InputLabel for="title"
                            value="title" />
                <TextInput id="title"
                           type="text"
                           class="mt-1 block w-full shadow"
                           v-model="form.title"
                           autocomplete="title" />
                <InputError :message="form.errors.title"
                            class="mt-2" />
            </div>
            <div class="mb-4">
                <InputLabel for="description"
                            value="description" />
                <TextArea id="description"
                          :rows="12"
                          class="mt-1 block w-full border-gray-300 dark:border-gray-700 dark:bg-gray-900 dark:text-gray-300 focus:border-indigo-500 dark:focus:border-indigo-600 focus:ring-indigo-500 dark:focus:ring-indigo-600 rounded-md shadow-sm"
                          v-model="form.description"
                          autocomplete="description" />
                <InputError :message="form.errors.description"
                            class="mt-2" />
            </div>
			
            <section class="grid xl:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-6">
                <section class="col-span-1"
                         v-for="(el, index) in specifications"
                         :key="index">
                    <InputLabel for="el.title"
                                :value="el.name" />
                    <TextInput id="el.title"
                               :type="el.type"
                               class="mt-1 block w-full shadow"
                               v-model="el.value"
                               autocomplete="el.title" />
                    <!--                    <InputError :message="form.errors.el.title"-->
                    <!--                                class="mt-2" />-->
                </section>
            </section>
        </section>
        <section class="flex space-x-2 overflow-auto my-6"
                 v-if="gallery">
            <div class="w-1/5 rounded ringed overflow-hidden"
                 v-for="image in gallery"
                 :key="image.id">
                <img :src="image.url"
                     :alt="image.title"
                     class=" object-cover w-auto h-full">
            </div>
        </section>
	    
        <section class="my-6"
                 v-if="cabins">
            <section v-for="record in cabins"
                     :key="record.id"
                     class="sm:flex items-start block border-b-2 py-4 sm:space-x-8 space-x-0">
                <section class="flex flex-col w-2/3">
                    <section class="flex items-center justify-between">
                        <Link class="text-lg text-blue-400 cursor-pointer font-bold opacity-80 hover:opacity-100 duration-75"
                              :href="'/cabin/' + record.id">{{ record.title }}</Link>
                        <h6 class="text-[12px]">Код изготовителя: {{record.vendor_code}}</h6>
                    </section>
                    <p v-html="record.description" />
                </section>
                <div class="w-1/3 rounded ringed overflow-hidden"
                     v-if="record?.photos?.length">
                    <img :src="record.photos[0]"
                         :alt="record.title"
                         class=" object-cover w-auto h-full">
                </div>
            </section>
        </section>
    </section>
</template>
<script setup>
import {Link, router, useForm} from '@inertiajs/vue3';
import InputLabel from '@/Components/InputLabel.vue';
import InputError from '@/Components/InputError.vue';
import TextArea from '@/Components/TextArea.vue';
import TextInput from '@/Components/TextInput.vue';
import {onMounted, ref} from 'vue';
import axios from 'axios';

const props = defineProps(['ship_id']);
let gallery = ref([]);
let cabins = ref([]);

const form = useForm({
    _method: 'POST',
    id: null,
    title: 'Create new',
    description: '',
    spec: [],
});

const specifications = ref([
    {title: 'year', name: 'Год постройки', value: null, type: 'text'},
    {title: 'year_renovation', name: 'Год реновации', value: null, type: 'text'},
    {title: 'value', name: 'Водоизмещение, тонн', value: null, type: 'text'},
    {title: 'height', name: 'Длина', value: null, type: 'text'},
    {title: 'width', name: 'Ширина', value: null, type: 'text'},
    {title: 'decks_amount', name: 'Количество палуб', value: null, type: 'text'},
    {title: 'speed', name: 'Скорость (макс.)', value: null, type: 'text'},
    {title: 'speed_max', name: 'Каюты', value: null, type: 'text'},
    {title: 'capacity', name: 'Пассажиры', value: null, type: 'text'},
    {title: 'capacity_max', name: 'Пассажиры (макс.)', value: null, type: 'text'},
    {title: 'staff', name: 'Экипаж', value: null, type: 'text'},
    {title: 'stabs', name: 'Стабилизаторы качки', value: null, type: 'text'},
]);

let component_ready = ref(false);
onMounted(() => {
    if (! props.ship_id) {
        componentReady();
    } else {
        axios.post(route('ship_details'), {id: props.ship_id}).then(response => {
            form.id = response.data.id;
            form.title = response.data.title;
            form.description = response.data.description;
            response.data.spec.forEach(row => {
                specifications.value.find(sp => sp.name.includes(row.name)).value = row.value;
            });
            gallery.value = response.data.gallery;
            cabins.value = response.data.cabins;
	        
            componentReady();
        });
    }
    Event.on('ship_submit', () => submitForm());
});
function submitForm() {
    specifications.value.forEach(row => {
        if (row.value) {
            form.spec.push(Object.assign({}, {
                name: row.name,
                value: row.value,
            }));
        }
    });
	
    form.post(route('ship.upsert'), {
        errorBag: 'proceedForm',
        preserveScroll: true,
        onSuccess: () => {
            form.spec = [];
            router.reload({only: ['ship']});
        }
    });
}

const emit = defineEmits(['component_ready']);
function componentReady() {
    component_ready.value = true;
    emit('component_ready');
}
</script>