<template>
    <Head title="Our fleet" />
    <section class="my-16 max-w-6xl mx-auto">
        <h1 class="text-[36px] font-bold opacity-80 ">Наш флот</h1>
        <section class="grid grid-cols-3 gap-4 my-8">
            <div v-for="ship in ships"
                 :key="ship.id"
                 class="col-span-1 rounded ringed bg-gray-100 p-4">
	            
                <section class="flex items-center justify-between">
                    <h1 class="text-lg font-bold">{{ ship.title }}</h1>
                    <Link :href="'/ship/' + ship.id"
                          class="text-sm text-blue-400 hover:opacity-100 opacity-80 duration-75">Edit</Link>
                </section>

                <div class="bg-white p-3 rounded h-[240px] overflow-y-auto my-4 shadow">
                    <p class=" text-[12px] "
                       v-html="ship.description"/>
                </div>

                <section class="flex space-x-2 overflow-auto my-6">
                    <div class="w-32 rounded ringed overflow-hidden"
                         v-for="image in ship.gallery"
                         :key="image.id">
                        <img :src="image.url"
                             :alt="image.title"
                             class=" object-contain w-full h-auto">
                    </div>
                </section>
	            
                <ul>
                    <li v-for="(row, index) in ship.spec"
                        :key="index">
                        <h4 class="text-[14px]">
                            {{ row.name }}: <span class="font-bold opacity-70">{{ row.value }}</span>
                        </h4>
                    </li>
                </ul>
            </div>
        </section>
    </section>
</template>
<script setup>
import { Head, Link } from '@inertiajs/vue3';

defineProps(['ships']);
</script>
<style>
.ringed {
	@apply ring-1 ring-black ring-opacity-5
}
</style>