<template>
    <section>
        <Head title="Edit information" />
        <section class="my-16 max-w-[800px] mx-auto">

            <ShipForm :ship_id="ship_id"
                      @component_ready="show_btn = true"/>

            <section class="form_block"
                     v-if="show_btn">
                <button @click="submitForm"
                        class="form_btn bg-gray-800">Update</button>
                <button @click="createNewShip"
                        class="form_btn bg-green-800">New Ship</button>
                <button @click="deleteShip"
                        class="form_btn bg-red-500">Delete Ship</button>
            </section>
        </section>
    </section>
</template>
<script setup>
import {Head, router,} from '@inertiajs/vue3';

import ShipForm from '@/Pages/Ship/ShipForm.vue';
import {ref} from 'vue';
const props = defineProps(['ship_id']);

let show_btn = ref(false);

function submitForm() {
    Event.emit('ship_submit');
}
function createNewShip() {
    router.get(route('ship.create'));
}

function deleteShip() {
    axios.post(route('ship.delete'), {id: props.ship_id}).then(() => router.get('/ships'));
}
</script>