<template>
    <textarea cols="30"
              :rows="rows"
              class="focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm"
              :value="modelValue"
              @input="$emit('update:modelValue', $event.target.value)"
              ref="input">
    </textarea>
</template>

<script>
import { defineComponent } from 'vue';

export default defineComponent({
    props: ['modelValue', 'rows'],
	
    emits: ['update:modelValue'],
	
    methods: {
        focus() {
            this.$refs.input.focus();
        }
    }
});
</script>
